/* ESTILOS DEL CUERPO */

html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background-color: #ffffff;
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(165,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%2300059C'/%3E%3Cstop offset='1' stop-color='%23C4C5C5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='11' height='11' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%23A9FF9E' cx='5.5' cy='5.5' r='5.5'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' fill-opacity='0.12'/%3E%3C/svg%3E"); */
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* BARRAS DE DESPLAZAMIENTOS */
body {
    --sb-track-color: #21282b;
    --sb-thumb-color: #6b95af;
    --sb-size: 10px;
  
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

body::-webkit-scrollbar {
    width: var(--sb-size);
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 10px;
}

/* LISTAS  Y ENLACES */
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

a:hover {
    color: orange;
}



/* Header */
header {
    position: relative;
    display: flex;
    align-items: center;
    background:  #000dff;
    background-image: url("Img/_ee447069-941b-42f5-95ae-e4cc9da0560c.jfif");
    background-size: cover;
    background-repeat: no-repeat;
    /*background-clip: text;
    -webkit-background-clip: text; 
    aspect-ratio: 1;*/
    background-size: 1350px 100px auto;
    background-position: 0%;
    color: transparent;
    padding: 1.2rem;
    width: 100% auto ;
    max-width: cover;
    margin: 5px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-color: #ffffff5e;
    /* border-radius: 10px; */
    max-height: 50px;
    box-shadow: 0 6px 20px -2px rgb(0, 0, 0);
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
}

#cuadro{
    position: absolute;

}
div{
    display: block;
    justify-content: center;
}
/* BOTONES PARA LOS LINKS */
.bn32 {
    background-color: rgba(1, 16, 132, 0);
    border-radius: 2px;
    border-color: transparent;  
    padding: 0.3em 0.8em;
    cursor: pointer;
    font-size: 1em;
    color: rgb(255, 255, 255);
   /* background-image: linear-gradient(45deg, transparent 50%, rgb(0, 85, 255) 50%);*/
   background-image: linear-gradient(45deg, transparent 50%,
    #667eea,
    #764ba2,
    #6b8dd6,
    #8e37d7
);
    background-position: 25%;
    background-size: 400%;
    transition: background 500ms ease-in-out, color 500ms ease-in-out;
}

.bn32:hover {
    color: rgb(255, 166, 0);
    background-position: 100%;
}

/* BARRA DE NAVEGACIÓN */
.navbar {
    width: 100%;
    height: 80px;
    max-width: 1300px;
    margin: 40px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-color: #ffffff5e;
    border-radius: 10px;    
    z-index: 9999;
}

.navbar .logo a {
    font-size: 1.08rem;
    font-weight: bold;
    text-align: center;
}

.navbar .links {
    display: flex;
    gap: 1.2rem;
    padding-right: 5%;
}

.navbar .toggle_btn {
    color: #ffffff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}


/* BOTONES DE ACCION */
.action_btn {
    background-color: rgb(255, 166, 0);
    color: #ffffff;
    padding: 0.5rem 1rem;   
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2s ease;
}

.action_btn:hover {
    scale: 1.05;
    color: #fff;
}

.action_btn:active {
    scale: 0.95;
}

/* MENU DESPLEBABLE */
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 100px;
    height: 0;
    width: 200px;
    background: rgba(0, 38, 255, 0.204);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.container {
    margin: 30px;
    padding-left: 10px;
    padding-bottom: 50px;
    padding-left: 5px;
}

.dropdown_menu.open {
    height: 220px;
    width: 205px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.49);
    justify-content: flex-start;
    text-align: center;
}

.dropdown_menu li {
    padding: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    align-items: center;
}

/* Logo */
#logo-img {
    width: 120px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    padding-right: 1.2rem;
    filter: drop-shadow(2px 0px 0px rgba(196, 9, 9, 0.084));
    
}

@media (max-width: 600px) {
    #logo-img {
        width: 90px;
        height: auto;
        display: inline-block;
        vertical-align: middle;
        background-attachment: fixed;

    }
    #hero {
        height: calc(100vh - 80px);
        background-attachment: fixed;

    }
}

/* ESTILOS GENERALES */

@media (max-width: 992px) {
    /* Estilos para pantallas más pequeñas (tablets, dispositivos móviles, etc.) */
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
}

@media (max-width: 576px) {
    /* Estilos para pantallas aún más pequeñas (móviles) */
}
#hero {
    height: calc(100vh - 60px);
}
/* Sección HERO */
section #hero {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    color: #fff;
}

#hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

/* CONTENIDO */ /*
#content{
    overflow: hidden;
    width: auto;
    margin-top: 50px; /* Ajusta el margen según el tamaño del encabezado *//*
    padding: 20px;
    margin-left: 65px ;
    margin-right: 70px;
    background-color: rgba(255, 255, 255, 0.497); /* Agrega un fondo blanco o transparente detrás del contenido *//*
    border-radius: 10px; /* Agrega bordes redondeados al contenido *//*
    box-shadow: 0 0 15px rgba(35, 63, 125, 0.418); /* Agrega una sombra al contenido *//*
    max-height: 400px;
}*/
#content2 {
    overflow: scroll;
    margin-top: 15px auto; /* Ajusta el margen según el tamaño del encabezado */
    margin: 30px auto;
    padding: 20px;
    width: auto;
    margin-left: 8%;
    margin-right: 8%;
    background-color: rgba(255, 255, 255, 0.308); /* Agrega un fondo blanco o transparente detrás del contenido */
    box-shadow: 0 0 15px rgba(35, 63, 125, 0.418); /* Agrega una sombra al contenido */
    -attachment: fixed;
    border-radius: 10px; /* Agrega bordes redondeados al contenido */
    max-height: 450px;
    justify-content: space-around;

}

#content img {
    width: 25%;
    height: auto;
    float: left;
    margin-right: 10px auto;
    margin-left: 10px auto;
    margin-bottom: 10px;
    width: 300px;
    justify-content: space-around;
    align-items: center;

}
#content .imagene {
    width: 10%;
    height: auto;
    float: left;
    margin-right: 10px auto;
    margin-left: 10px ;
    margin-bottom: 10px;
    justify-content: space-around;
    align-items: center;
    align-self: center;

}
#content p {
    clear: both 1/2;
    columns: 200px 1;
    column-gap: 30px;
    line-height: 1em;
    font-weight: 300;
    letter-spacing: .09em;
    color: black;
    font-size: 1em;
    justify-content: center;
    align-items: center;
    text-align: justify;

}
#content h {
    text-align: start;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2em; 
    line-height: 1.5em;
    letter-spacing: .09em;
    color: #000000;
    background-color: rgba(255, 166, 0, 0);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    filter: drop-shadow(2px 2px 2px rgba(49, 49, 49, 0));
}
#content .row {
    margin-top: 10px;
}
/* #conf{
    display: flex;
    align-items: center;
    width: 50%;
    height: auto;
    margin-left: 0;
    margin-right: 10px;
    height: auto;
    float: left;
    margin-right: 10px auto;
    margin-bottom: 10px;
} 
#conf .conf {
    width: 10px;
    height: auto;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    background-attachment: fixed;
} */

.contenedor-texto-imagen-flex-1 {
    clear: both 1/2;
    max-width: auto;
    margin: 0;
    display: flex; 
    margin-left: 1.5px;
    align-items: center; 
    justify-content: space-around;
}
.imagene-1{
    float: left;
    margin-right: 20px;
    width: 50%; 
    width: 1.5%;
    max-width: 100%;
}

.imagen-flex-1{
    width: 20%; /* Establece el ancho de la imagen */
    max-width: 100%; /* Asegura que la imagen no sea más grande que su contenedor */}
    #content .imagene-1{
        width: 30% auto;
        height: auto;
        float: left;
        margin-right: 10px auto;
        margin-bottom: 10px;
    }

.proposito{
    display: flex;
    margin: 0% auto;
    width: 90%;
    text-align: justify;
    
}
/* LISTAS */
.expandable-list {
    width: auto;
    background-color: #ffffff14;
    border-radius: 5px;
    overflow: hidden;
}

.list-item {
    padding: 10px;
    width: 180px;
    border-radius: 10px;
    color: #010341;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Agrega transición suave al color de fondo */
    font-size: 1.2rem;
    font-weight: bold;
}
.list-item:hover {
    background-color: rgba(38, 0, 255, 0.312); /* Cambia el color al pasar el cursor sobre el elemento */
}
.list-subitems {
    padding: 0;
    margin: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.list-subitems li {
    padding: 10px;
    border-bottom: 1px solid #002fff;
    transition: background-color 0.3s ease; /* Agrega transición suave al color de fondo */
}
/* LAS IMAGENES DE LOS PASTORES*/
.contenedor-texto-imagen-flex {
    max-width: auto;
    margin: 0 auto;
    display: flex; 
    margin-left: 1.5px;
    align-items: center; 
    justify-content: space-around;

}
.imagene{
    float: left;
    margin-right: 20px;
    width: 50%; 
    width: 1.5%;
    max-width: 100%;
    justify-content: space-around;
}

.texto-flex {
    flex: 1; /* El texto tomará todo el espacio disponible */
    margin-left: 1px; /* Ajusta el valor según el espacio deseado */
    overflow: hidden; /* Limpia el float para que el contenedor se expanda correct*/
}

.imagen-flex {
    width: 20%; /* Establece el ancho de la imagen */
    max-width: 100%; /* Asegura que la imagen no sea más grande que su contenedor */}



.image-container {
    display: column;
    justify-content: space-around;
    width: 50%; /* Ajusta el tamaño según tus necesidades */
}
    
.imagen-separada {
    margin-right: 20px auto; /* Ajusta el valor según el espacio horizontal deseado */
    height: 400px;
    position: relative;
}

.image-container {
    margin: 10px;
    cursor: pointer;
  }
.video-container{
    margin: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    width: 50%; /* Ajusta el tamaño según tus necesidades */
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

.modal-content {
    max-width: 400px;
    max-height: 400px;
  }

.close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }

#btn_back{
    position: absolute;
}
#imagenes_productos{
    text-align: center;
}

/* li{
    list-style: none;
    font-weight: bolder;
} */
p{
    font-size: 17px;
    margin-left: 1rem;
    text-justify: auto;
    color: white;
    font-family: sans-serif;
}
.list-subitems li:last-child {
    border-bottom: none;
    }


.list-subitems li:last-child {
    border-bottom: none;
}

/* ESTILOS PARA EL FORMULARIO */
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}
fieldset{
    backdrop-filter: blur(15px);
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.1em;
    padding-inline-start: 0.15em;
    padding-inline-end: 0.15em;
    padding-block-end: 5em;
    min-inline-size: min-content;
    border-width: 5px;
    border-style: dashed;
    border-color: rgb(111, 145, 167);
    border-image: initial;
}
.form-box{
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(130, 73, 73, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
form{
    backdrop-filter: blur(15px);
    background-color: rgba(255, 255, 255, 0);
}
h1{
    font-size: 50.8px;
    font-weight: 900;
    text-align: center;
    background: url('Img/ciudad.jpeg');
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100px;
    background-position: center;
}
h3{
    font-weight: bold;
    margin-top: 2rem;
    padding-left: 8px;
    padding-right: 8px;
    color: black;
}
.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    
    padding-bottom: 0% auto;
    border-bottom: 2px solid #0400ff40;
}
legend{
justify-content: center;
align-items: center;
text-align: center;
font-weight: bold;


}
.inputbox label{
    position: absolute;
    top: 60%;
    left: 5px;
    transform: translateY(-50%);
    color: #000000;
    font-weight: bolder;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}
input:focus ~ label,
input:valid ~ label{
    top: -5px;
}
.inputbox input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #000000;
}
.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: #000000;
    font-size: 1.2em;
    top: 20px;
    
}
.inputbox ion-icon::backdrop{
    backdrop-filter: blur(5px) brightness(75%) saturate(150%);
}
.register p a:hover{
    text-decoration: underline;
    backdrop-filter: blur(15px);
}
/* ion-icon{
    cursor: pointer;
} */
.inputbox ion-icon:hover{
    color: #000dff;
}
input,
textarea {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: block;
    width: 100% ;
    height: 5% auto;
    border: none;
    outline: auto;
    border-bottom: 2px solid rgb(31, 31, 31);
    padding: 8px;
    backdrop-filter: blur(15px);
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    border-radius: 4px;
    background: #2d2b8410;
    color: rgb(0, 0, 0);
}

/*
form {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 15px;

}
label {
    display: block;
    margin-bottom: 5px;
}

input,
textarea {
    width: 100% ;
    height: 3%;
    border: none;
    outline: auto;
    border-bottom: 2px solid black;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #cccccc5d;
    border-radius: 4px;
    background: #2b3d842e;
    color: rgba(18, 25, 221, 0.238);
}*/

button {
    background-color: #53af4c;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    flex: 1 0 40px;
    margin-top: -5%;
    text-align: center;
    margin-left: 0%;
}
#boton {
    width: 100px; 
    height: 40px; 
    padding: 10px;
}
iframe, #mapa{
    position: absolute;
}
.bn632-hover {
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
.bn632-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
  
.bn632-hover:focus {
    outline: none;
  }
  
.bn632-hover.bn20 {
background-image: linear-gradient(
  to right,
  #667eea,
  #764ba2,
  #6b8dd6,
  #8e37d7
);
box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
  }

/*
button {
    background-color: rgba(0, 30, 255, 0.329);
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgb(0, 85, 255);
}*/

/* LAS IMAGENES */
/*img {
    height: auto;
    float: left;
    align-content: flex-start;
}
@media (max-width: 600px) {
    img {
        width: 100%;
        max-width: 100%;
        height: auto;
    }
}
*/


/* ESTILOS PARA LA GALERIA */

.tours .image-gallery {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.image-gallery img {
    max-width: 250px auto;
    margin: 1px;
}

.image-gallery {
    justify-content: space-around;
    align-items: center;
    align-self: center;
}

.image-gallery img {
    width: 90%;
    border-radius: 5%;
    justify-content: space-around;
    align-self: center;
    margin: 0.1%;
    margin-left: 1.5%;

}
.video-galery{
    justify-content: center;
    align-items: center;
}

/* LOS VIDEOS */
video {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    max-width: 100% auto;
    height: auto;
    margin: 0 auto;
    /* border-radius: 1.5%; */

}
@media (max-width: 600px) {
    video {
        width: 100%;
        max-width: 100%;
        height: auto;
        /* border-radius: 5%; */

    }
}

/* DISEÑO RESPONSIVO*/
@media (max-width: 992px) {
.navbar .links,
.navbar .action_btn {
        display: none;
    }

.navbar .toggle_btn {
        display: block;
    }

.dropdown_menu {
        display: block;
    }
}

@media (max-width: 576px) {
.dropdown_menu {
        left: 2rem;
        width: unset;
    }
}

/* ANIMACIONES LEVES */
.image-gallery img {
    transition: transform .3s ease-in-out;
    border-radius: 5%;
    filter: grayscale(100%);

}
video {
    transition: transform .3s ease;
    /* border-radius: 5%; */

}

.image-gallery img:hover {
    transform: scale(1.1);
    border-radius: 5%;
    filter: grayscale(0%);

}
video:hover {
    transform: scale(1.2);
    border-radius: 5%;

}

/* ESTILOS PARA EL AREA DE GOOGLE MAPS */
iframe{
    height: 400px !important;
    width: 100% !important;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
#mapa, iframe {
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0
    2px 4px 0 rgba(0,0,0,0.19);

}
/* PIE DE LA PAGINA*/
footer {
    background-color: rgba(147, 152, 160, 0.404);
    text-align: center;
    padding: 0px;
    position: fixed;
    bottom: 0.8%;
    width: 100%;
    height: 12%;
    color: rgb(0, 0, 0);
    backdrop-filter: blur(15px);
}

/* ANIMACION DE LAS PAGINAS */

/* @keyframes wipe-in-bottom-left {
    from {
      clip-path: polygon(150% -150%, 175% 150%, 175% 150%, 150% -150%);
    }
    to {
      clip-path: polygon(150% -150%, 175% 150%, 150% 175%, -150% 150%);
    }
  }
  
  [transition-style="in:wipe:bottom-left"] {
    animation: 1.5s cubic-bezier(.25, 1, .30, 1) wipe-in-bottom-left both;
  } */

